<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Docker tutorial</title>
    <style>
      body {
        font-family: "Roboto", sans-serif;
        background-color: black !important;
        color: white !important;
      }
      hr {
        border-color: white !important; 
      }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container p-4">
      <h1>Hello nodejs from docker</h1>
      <hr />
      <div class="text-center">
        <img src="https://miro.medium.com/max/2820/1*ovRuAuqPf4r2xpiWh71rUg.png" alt="" height="300" />
      </div>
    </div>
  </body>
</html>
